@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 bg-blue-600 text-white rounded;
  }

  .container2 {
    @apply lg-1200px:w-[1170px] md-992px:w-[970px] md:w-[750px] px-[15px] ml-auto mr-auto;
  }

  .btn-passenger-action {
    @apply h-10 px-[15px] transition-all duration-200 rounded w-[26px] inline-flex items-center justify-center 
      border border-[#d9d9d9] border-transparent hover:border-[#ff8917] focus:border-[#ff8917] bg-[#eee] hover:bg-[rgba(0,0,0,.018)] focus:bg-[rgba(0,0,0,.018)] 
      fill-current hover:fill-[#ff8917] focus:fill-[#ff8917]
      disabled:border-transparent disabled:bg-transparent disabled:fill-[rgba(0,0,0,.25)] disabled:cursor-not-allowed;
  }
  .input-1 {
    @apply w-full h-10 border border-[#d9d9d9] hover:border-[#48ABFD] focus:border-[#48ABFD] transition-all duration-300 rounded outline-none focus:shadow-input1
  }
}

.ellipsis-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
